@CHARSET "UTF-8";

#transformers_panel {
  border: 1px solid #CCCCCC;
  height: 20em;
  padding: 5px;
}

#transformers_add_links {
  border: 1px solid #CCCCCC;
  border-top: none;
  background-color: #e5eff4;
  font-weight: bold;
  padding: 5px;
}

.transformers_action {
  position: relative;
  background-color: white;
  border: 1px solid #AAAAAA;
  float: left;
  z-index:20;
}
._jsPlumb_endpoint { z-index:50; }
._jsPlumb_connector { z-index:1; }

.transformers_action_head {
  border-bottom: 1px solid #AAAAAA;
  background-color: #DADADA;
  text-align: center;
  padding: 3px;
  font-weight: bold;
}

.transformers_label {
  margin: 0px 10px;
}

.transformers_icons {
  float: right;
  text-align: right;
}

ul.transformers_inputs {
  float: left;
  padding:0px;
  margin:0px;
}

ul.transformers_outputs {
  float: right;
}

li.transformers_anchor {
  list-style: none;
}

li.transformers_inputs {
}

li.transformers_outputs {
  padding-right: 15px;
}
